.mb-3xs {
  margin-bottom: 1.6rem;
}

.mb-2xs {
  margin-bottom: 2.4rem;
}

.mb-xs {
  margin-bottom: 3rem;
}

.mb-s {
  margin-bottom: 3.6rem;
}

.mb-m {
  margin-bottom: 4rem;
}

.mb-xl {
  margin-bottom: 6.4rem;
}
