.header {
  height: 15.2rem;
  padding: 0 4rem;
  background-color: $color-white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__radio-link {
    display: none;

    &:checked + a {
      color: $color-primary;
    }
  }

  &__logo {
    height: 5.6rem;
    width: 20rem;
  }

  &__nav {
    display: flex;
    gap: 4rem;
    justify-content: space-between;
  }

  &__link {
    &,
    &:link,
    &:visited {
      text-decoration: none;
    }
  }

  @include media(max, 56.25em) {
    position: relative;

    &__nav {
      display: block;
      position: absolute;
      top: -100vh;
      left: 0;
      right: 0;
      height: 100vh;
    }

    &__link {
      display: block;
    }

    .hamburger__checkbox:checked ~ &__nav {
      top: 0;
      height: 100vh;
      background-color: $color-white;
    }
  }
}
