.header {
  height: 15.2rem;
  padding: 0 4rem;
  background-color: $color-white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    height: 5.6rem;
    width: 20rem;
  }

  &__nav {
    display: flex;
    gap: 4rem;
    justify-content: space-between;
  }

  &__link {
    &,
    &:link,
    &:visited {
      text-decoration: none;

      &.header__link--active {
        color: $color-primary;
      }
    }
  }
}
