.offer-card {
  max-width: 66.4rem;
  min-width: 40rem;
  flex: 1;
  height: 38.4rem;
  background-size: cover;
  background-position: 50%;
  border-radius: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 6.4rem;
  cursor: pointer;

  &__subtitle {
    &--1 {
      color: $color-white;
    }

    &--2 {
      color: $color-primary;
    }
  }

  &__title {
    max-width: 26rem;

    &--1 {
      color: $color-white;
    }
  }

  &--1 {
    background-image: url(../img/offer-1.jpeg);
  }

  &--2 {
    background-image: url(../img/offer-2.jpeg);
  }
}
