.option-card {
  overflow: hidden;
  position: relative;
  height: 58.4rem;
  background-size: cover;
  background-position: 50%;
  cursor: pointer;

  &--1 {
    background-image: url(../img/juice.jpeg);
  }

  &--2 {
    background-image: url(../img/spinach.jpeg);
  }

  &--3 {
    background-image: url(../img/biscuits.jpeg);
  }

  &__gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 33.4rem;
    background: linear-gradient(
      180deg,
      rgba($color-black, 0) 0%,
      rgba($color-black, 0.74) 100%
    );
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &__label {
    text-align: center;
    width: 32rem;
    background-color: $color-white;
    padding: 3.2rem 0;
    border-radius: 2.4rem;
    margin-bottom: 5.6rem;
  }
}
