.products {
  padding: 9.6rem 4rem;

  &__subtitle {
    color: $color-primary;
    text-align: center;
  }

  &__title {
    text-align: center;
    margin-bottom: 4.8rem;
  }

  &__cards {
    max-width: 136rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3.2rem;
    margin: 0 auto;
  }
}
